@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #171717;
}

header {
    display: inline-block;
}

header > img {
    width: 100px;
    margin-top: 40px;
    margin-left: 520px;
}

nav  {
    margin-left: 1200px;
    margin-bottom: 100px;
}

